@import url('../lib/common.css');

#header {
    background-image: url('img/rawh-banner.jpg');
}

#welcome {
  align-items: center;
}

#welcome input {
  text-align: center;
}

#welcome input.flash {
  background-color: #cce !important;
}

#apps {
    flex-grow: 1;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#apps hr {
    width: 100%;
}

#app-create {
    flex-direction: row;
    align-items: center;
}

/* table data */
#app-list {
    grid-template-columns: 0.5fr 1fr 1fr 0.75fr 0.75fr 0.5fr 0.25fr;
}